<div class="modal fade" id="ask_question_modal" tabindex="-1" aria-labelledby="ask_question_modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">      
      <div class="modal-body p-0">
        <div id="modal_popup">
            <div id="close_modal_popup" (click)="closeModal()">&times;</div>    
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="ask_question_modalLabel">Ask Question</h5>
            </div>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-12 col-xl-12 p-0 mb-3">
                    <div class="message_input mt-5 mb-2" style="margin-left: 10px;">
                      <textarea name="message" autocomplete="off" placeholder="Enter your question"
                        [formControl]="textMessage" (keyup.enter)="postQuestion(textMessage.value)" maxlength="200"
                        type="text" id="query" value=""></textarea>
                    </div>
                    <button type="submit" class="btn submitBtn"
                      style="margin-left: 12px; margin-bottom: 10px;"
                      (click)="postQuestion(textMessage.value)">Submit</button>                  
                  </div>
                </div>
            </div>
        </div>      
      </div>      
    </div>
  </div>
</div>