#list{
    li{
        color: #44484b;
        padding: 12px;
        list-style: none;
        border: 1px solid black;
        /* margin: 1%; */
        width: 50%;
        border-radius: 29px;
        background-color: white;
    }
}
#QnA{
    margin: 20px 20px 70px 20px;
    #questionTitle{
        margin: 15px 10;
    }
    #questionOption{
        margin: 13px 7px;
        border-radius: 30px;
        padding: 10px 15px;
        cursor: pointer;
        width: 100%;
        transition: .3s;
        background: #a3a1a1;
        color: white;
        font-size: 14px;
    }
    #questionOption:hover{
        transition: .3s;
        background-color: black;
        transform: translateY(-10px);
        border: none;
    }
}
#thanksQuiz{
    margin: 12%;
    padding: 25px;
    border-radius: 30px; 
    font-size: 18px;
    text-align: center;  
}