
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}



@font-face {
    font-family: "ARIAACB";
    src: url("../../assets/fonts/ARIAACB.TTF") format("truetype");
  }
  @font-face {
    font-family: "Avgardm";
    src: url("../../assets/fonts/ARIAACB.TTF") format("truetype");
  }
  @font-face {
    font-family: "SanofiSans-BoldItalic";
    src: url("../../assets/fonts/SanofiSans-BoldItalic.ttf") format("truetype");
  }
  @font-face {
    font-family: "SanofiSans-Regular";
    src: url("../../assets/fonts/SanofiSans-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "SanofiSerif-Italic";
    src: url("../../assets/fonts/SanofiSerif-Italic.ttf") format("truetype");
  }
//   ::placeholder {
//     color: #ffffff !important;
//   }
//   * {
//     margin: 0;
//     padding: 0;
//     -webkit-box-sizing: border-box;
//     box-sizing: border-box;
//   }
//   body {
//     margin: 0;
//     padding: 0;
//     overflow-x: hidden;
//     font-family: "Poppins";
//     color: #000000;
//   }
//   .fixed_img {
//     position: fixed;
//     width: 100vw;
//     height: 100vh;
//     object-fit: cover;
//     z-index: -1;
//     object-position: center;
//     -o-object-fit: cover;
//   }
//   .desktop {
//     display: block;
//   }
//   .mobile {
//     display: none;
//   }
//   .registration {
//     height: 100vh;
//   }
//   .registration .sanofi_logo {
//     text-align: right;
//     width: 10%;
//     margin: auto;
//     position: fixed;
//     left: auto;
//     right: 3.5%;
//     padding-top: 2%;
//   }
//   .registration .reg_form {
//     width: 27%;
//     height: 100%;
//     margin: auto;
//     margin-right: 15%;
//     padding-top: 8%;
//   }
//   .registration .reg_form .heading {
//     font-size: clamp(0.7rem, 1.5vw, 3rem);
//     text-align: center;
//     color: #6e0ac4;
//     padding: 1.5rem 0;
//     margin: 0;
//     font-weight: 700;
   
//   }
//   .registration .reg_form .form-group {
//     margin-bottom: 5px;
//   }
//   .registration .reg_form .form-group .form-control {
//     background: #c0a3ef;
//     border: 0;
//     border-radius: 25px;
//     color: #fff;
//     font-size: clamp(0.7rem, 1vw, 3rem);
//   }
//   .registration .reg_form .submit_btn {
//     text-align: center;
//   }
//   .registration .reg_form .submit_btn .btn {
//     background: #6e0ac4 !important;
//     border: 0;
//     border-radius: 25px;
//     color: #ffffff;
//     width: 25%;
//     margin: auto;
//     font-size: clamp(0.7rem, 1vw, 3rem);
//     margin: 0;
//     margin-top: 1rem;
//   }
//   .mandatory {
//     position: fixed;
//     color: #000000;
//     bottom: 2%;
//     left: auto;
//     right: 2%;
//     font-size: 13px;
//   }
  

input{
    padding: 8px;
}


// @media (max-width: 767px) and (orientation: portrait) {
//     .desktop {
//       display: none;
//     }
//     .mobile {
//       display: block;
//     }
//     .registration .sanofi_logo {
//       width: 17%;
//     }
//     .registration .reg_form {
//       width: 75%;
//       height: 100%;
//       margin: auto;
//       margin-right: auto;
//       padding-top: 75%;
//     }
//     .registration .reg_form .logo {
//       width: 60%;
//       margin: auto;
//     }
//     .registration .reg_form .heading {
//       padding: 0.5rem 0;
//     }
//     .registration .reg_form .submit_btn .btn {
//       margin-top: 0.5rem;
//     }
//     .mandatory {
//       font-size: 10px;
//     }
//   }
//   @media (max-width: 767px) and (orientation: landscape) {
//     .desktop {
//       display: block;
//     }
//     .mobile {
//       display: none;
//     }
//     .registration .reg_form .heading {
//       padding: 0.5rem 0;
//     }
//     .registration .reg_form .logo {
//       width: 60%;
//       margin: auto;
//     }
//     .registration .reg_form .submit_btn .btn {
//       margin-top: 0.5rem;
//       text-align: center;
//       width: 40%;
//     }
//     .registration .reg_form {
//       padding-top: 4%;
//     }
//   }
//   @media screen and (min-width: 768px) and (max-width: 992px) {
//     .desktop {
//       display: block;
//     }
//     .mobile {
//       display: none;
//     }
//     .registration .reg_form .heading {
//       padding: 0.5rem 0;
//     }
//     .registration .reg_form .submit_btn .btn {
//       margin-top: 0.5rem;
//       text-align: center;
//       width: 40%;
//     }
//     .registration .reg_form {
//       padding-top: 4%;
//     }
//     .registration .reg_form .logo {
//       width: 60%;
//       margin: auto;
//     }
//   }
  






// @font-face {
//     font-family: "ARIAACB";
//     src: url("../font/ARIAACB.TTF") format("truetype");
//   }
//   @font-face {
//     font-family: "Avgardm";
//     src: url("../font/Avgardm.ttf") format("truetype");
//   }
//   @font-face {
//     font-family: "SanofiSans-BoldItalic";
//     src: url("../font/SanofiSans-BoldItalic.ttf") format("truetype");
//   }
//   @font-face {
//     font-family: "SanofiSans-Regular";
//     src: url("../font/SanofiSans-Regular.ttf") format("truetype");
//   }
//   @font-face {
//     font-family: "SanofiSerif-Italic";
//     src: url("../font/SanofiSerif-Italic.ttf") format("truetype");
//   }
  ::placeholder {
    color: #ffffff !important;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  * {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: "Poppins";
    color: #000000;
  }
  .fixed_img {
    position: fixed;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    object-position: center;
    -o-object-fit: cover;
  }
  .desktop {
    display: block;
  }
  .mobile {
    display: none;
  }
  .registration {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .registration .sanofi_logo {
    text-align: right;
    width: 10%;
    margin: auto;
    position: fixed;
    left: auto;
    right: 3.5%;
    padding-top: 2%;
    z-index: 1;
  }
  .registration .reg_form {
    width: 27%;
    height: 100%;
    margin: auto;
    margin-right: 15%;
    padding-top: 8%;
    z-index: 1;
  }
  .registration .reg_form .heading {
    font-size: clamp(0.7rem, 1.5vw, 3rem);
    text-align: center;
    color: #6e0ac4;
    padding: 1.5rem 0;
    margin: 0;
    font-weight: 700;
    /* font-family: "ARIAACB"; */
  }
  .registration .reg_form .form-group {
    margin-bottom: 5px;
  }
  .registration .reg_form .form-group .form-control {
    background: #c0a3ef;
    border: 0;
    border-radius: 25px;
    color: #fff;
    font-size: clamp(0.7rem, 1vw, 3rem);
  }
  .registration .reg_form .submit_btn {
    text-align: center;
  }
  .registration .reg_form .submit_btn .btn {
    background: #6e0ac4 !important;
    border: 0;
    border-radius: 25px;
    color: #ffffff;
    width: 25%;
    margin: auto;
    font-size: clamp(0.7rem, 1vw, 3rem);
    margin: 0;
    margin-top: 1rem;
  }
  .mandatory {
    position: fixed;
    color: #000000;
    bottom: 2%;
    left: auto;
    right: 2%;
    font-size: 13px;
  }
  

  @media (max-width: 767px) and (orientation: portrait) {
    .desktop {
      display: none !important;
    }
    .mobile {
      display: block !important;
    }
    .registration .sanofi_logo {
      width: 17%;
    }
    .registration .reg_form {
      width: 75%;
      height: 100%;
      margin: auto;
      margin-right: auto;
    }
    .registration .reg_form .logo {
      width: 60%;
      margin: auto;
      display: none;
    }
    .registration .reg_form .heading {
      padding: 0.5rem 0;
    }
    .registration .reg_form .submit_btn .btn {
      margin-top: 0.5rem;
    }
    .mandatory {
      font-size: 10px;
    }
  }
  @media (max-width: 767px) and (orientation: landscape) {
    .desktop {
      display: block !important;
    }
    .mobile {
      display: none !important;
    }
    .registration .reg_form .heading {
      padding: 0.5rem 0;
    }
    .registration .reg_form .logo {
      width: 60%;
      margin: auto;
    }
    .registration .reg_form .submit_btn .btn {
      margin-top: 0.5rem;
      text-align: center;
      width: 40%;
    }
    .registration .reg_form {
      padding-top: 4%;
    }
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .desktop {
      display: block !important;
    }
    .mobile {
      display: none !important;
    }
    .registration .reg_form .heading {
      padding: 0.5rem 0;
    }
    .registration .reg_form .submit_btn .btn {
      margin-top: 0.5rem;
      text-align: center;
      width: 40%;
    }
    .registration .reg_form {
      padding-top: 4%;
    }
    .registration .reg_form .logo {
      width: 60%;
      margin: auto;
    }
  }
  



