<!-- <section id="bg_section">
    <div id="content_section">
        <div class="bg" id="bg"></div>
        <div id="page_section">
            <div class="container-fluid">
                <div class="row justify-content-md-center">
                    <div class="col-md-6">
                        
                    </div>
                    <div class="col-md-6">
                        <div class="box text-center">
                             <img class="logos" src="assets/event/logo.png"  alt=""> 
                            <div id="page_content" >
                              
                                <form [formGroup]="signupForm" #signupFormDir="ngForm" (ngSubmit)="submitSignup(signupFormDir)">            
                                    <div class="form-group m-2">
                                        <input type="text" class="form-control" required autocomplete="off" formControlName="name" placeholder="*Name">  
                                        <div class="invalidError" *ngIf="(signupForm.get('name').invalid && signupFormDir.submitted) || (signupForm.get('name').dirty && signupForm.get('name').invalid)">
                                            Name is Required*
                                        </div>  
                                    </div>
                                    <div class="form-group m-2">
                                        <input type="email" class="form-control" required autocomplete="off" formControlName="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required placeholder="*Email ID">   
                                        <div class="invalidError" *ngIf="(signupForm.get('email').invalid && signupFormDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                                            Email ID is Required*
                                        </div> 
                                    </div>
                                    <div class="form-group m-2">
            
                                        <input type="number" class="form-control" required autocomplete="off" formControlName="mobile" placeholder="*Mobile no.">   
                                        <div class="invalidError" *ngIf="(signupForm.get('mobile').invalid && signupFormDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
                                            Mobile no. is Required*
                                        </div> 
                                    </div>
                                    <div class="form-group m-2">
                                       
                                        <input type="text" class="form-control" required autocomplete="off" formControlName="city" placeholder="City">   
                                        <div class="invalidError" *ngIf="(signupForm.get('city').invalid && signupFormDir.submitted) || (signupForm.get('city').dirty && signupForm.get('city').invalid)">
                                            City is Required*
                                        </div> 
                                    </div>
                                    <div class="form-group m-2">
                                       
                                        <input type="text" class="form-control" required autocomplete="off" formControlName="mrn" placeholder="*MRN"> 
                                        <div class="invalidError" *ngIf="(signupForm.get('mrn').invalid && signupFormDir.submitted) || (signupForm.get('mrn').dirty && signupForm.get('mrn').invalid)">
                                            MRN is Required*
                                        </div>   
                                    </div>
                                    <div id="submitBtn" class="m-2">
                                        <input class="btn" type="submit" value="ENTER">                
                                    </div>
                                   
                                </form>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->
<div class="registration">
    <img src="assets/images/background_desktop.jpg" class="img-fluid fixed_img desktop" alt="">
    <img src="assets/images/background_9x16.jpg" class="img-fluid fixed_img mobile" alt="">
    <div class="sanofi_logo">
        <img src="assets/images/SANOFI_LOGO.png" class="img-fluid" alt="">
    </div>
    <div class="reg_form">
       
       
<div class="logo desktop">
    <img src="assets/images/VC_LOGO.png" class="img-fluid" alt="">
</div>
<div class="mob_logo mobile">
    <img src="assets/images/mob_logo.png" class="img-fluid" alt="">
</div>
        <h3 class="heading">REGISTER HERE</h3>
        <h6 style="color: crimson;text-align: center;;">{{this.msg}}</h6>
        <form [formGroup]="signupForm" #signupFormDir="ngForm" (ngSubmit)="submitSignup(signupFormDir)">
            <!-- {{signupForm.value |json}} -->
            <div class="form-group">
                <input type="text" required formControlName="name" class="form-control" placeholder="*Name">
                <div class="invalidError" *ngIf="(signupForm.get('name').invalid && signupFormDir.submitted) || (signupForm.get('name').dirty && signupForm.get('name').invalid)">
                    Name is Required*
                </div>  
            </div>
            <div class="form-group">
                <input type="email"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required formControlName="email" class="form-control" placeholder="*Email ID">
                <div class="invalidError" *ngIf="(signupForm.get('email').invalid && signupFormDir.submitted) || (signupForm.get('email').dirty && signupForm.get('email').invalid)">
                    Email ID is Required*
                </div> 
            </div>
            <div class="form-group">
                <input type="number" required autocomplete="off" formControlName="mobile" class="form-control" placeholder="*Mobile no.">
                <div class="invalidError" *ngIf="(signupForm.get('mobile').invalid && signupFormDir.submitted) || (signupForm.get('mobile').dirty && signupForm.get('mobile').invalid)">
                    Mobile no. is Required*
                </div> 
            </div>
            <div class="form-group">
                <input type="text"  autocomplete="off" formControlName="city"  class="form-control" placeholder="City">
                <!-- <div class="invalidError" *ngIf="(signupForm.get('city').invalid && signupFormDir.submitted) || (signupForm.get('city').dirty && signupForm.get('city').invalid)">
                    City is Required*
                </div>  -->
            </div>
            <div class="form-group">
                <input type="text" required autocomplete="off" formControlName="mrn" class="form-control" placeholder="*MRN">
                <div class="invalidError" *ngIf="(signupForm.get('mrn').invalid && signupFormDir.submitted) || (signupForm.get('mrn').dirty && signupForm.get('mrn').invalid)">
                    MRN is Required*
                </div>  
            </div>
            <div class="submit_btn">
                <button type="submit" class="btn">ENTER</button>
            </div>
        </form>
    </div>
    <div class="mandatory">*Mandatory fields</div>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/app.js"></script> -->
    </div>